/* Reset body margin and padding */
body {
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
}

.navbar {
    background-color: #2d423d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    height: 85px;
}

.logo img {
    width: 180px;
    height: 60px;
    margin-left: 40px;
}

.logo span {
    color: #f3c246;
    font-weight: bold;
    font-size: 28px;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 50px;
    display: flex;
}

.nav-links li {
    margin-left: 60px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.nav-links a:hover {
    color: #f3c246;
}


/* Video container to hold the video and content */
.video-container {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

/* Styling the video to cover the whole background */
#background-video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%; 
    width: auto;
    height: 500px;
    transform: translate(-50%, -50%);
    /* z-index: -1; */
    object-fit: cover;
    filter: brightness(50%);
}

/* Content styling on top of the video */
.content {
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    /* text-align: center; */
    margin-right: 350px;
    margin-top: -70px;
}

.content h1 {
    font-size: 60px;
    margin: 0;
    font-style: italic;
}

.content p {
    font-size: 25px;
}
button{
    background-color: lightseagreen;
    padding: 15px 15px 15px 15px;
    color:#fff;
    border-radius: 20px 20px 20px 20px;
    font-size: 20px;
}
  .box{
    display: flex;
    column-gap: 30px;
    margin-top: 100px;
  }
  .b1{
    height: 500px;
    width: 25%;
    background-color: rgb(231, 230, 171);
    margin-left: 120px;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),

  }
  .b1 img{
    width: 100%;
    height: 280px;
    border-radius:  20px 20px 0 0;
  }
  .b1 h2{
    margin-left: 20px;
    font-size: 25px;

  }
  .b1 p{
    margin-left: 20px;
    font-size: 19px;
  }
  
  .b2{
    height: 500px;
    width: 25%;
    background-color: rgb(231, 230, 171);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  }
  .b2 img{
    width: 100%;
    height: 280px;
    border-radius:  20px 20px 0 0;
    
  }
  .b2 h2{
    margin-left: 20px;
    font-size: 25px;

  }
  .b2 p{
    margin-left: 20px;
    font-size: 19px;
  }
  
  .b3{
    height: 500px;
    width: 25%;
    background-color: rgb(231, 230, 171);
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  }
  .b3 img{
    width: 100%;
    height: 280px;
    border-radius:  20px 20px 0 0;
  }
  .b3 h2{
    margin-left: 20px;
    font-size: 25px;

  }
  .b3 p{
    margin-left: 20px;
    font-size: 19px;
  }
  .popular{
    background-color: #f3d280;
    height:1100px;
  }
  .popular h1{
    text-align: center;
    font-size:50px ;
    
  }
  .popular p{
    text-align: center;
    font-size: 20px;
  }
  .box1{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
    row-gap: 30px;
    margin-left: 150px;
  }
  .b4{
    height: 250px;
    width: 25%;
    background-color:rgb(30, 96, 60);
    border-radius: 10px 10px 10px 10px;
  }
  .b4 img{
    margin-left: 100px;
    margin-top: 50px;
    height: 50px;
    width: 50px;
    color: #fff;
    
  }
  .b4 h1{
    font-size: 28px;
    color: #fff;
    font-style: italic;
  }
  .b4 p{
    color: #fff;
    font-size: 18px;
  }
  .b5{
    height: 250px;
    width: 25%;
    background-color: rgb(32, 86, 40);
    border-radius: 10px 10px 10px 10px;
  }
  .b5 img{
    margin-left: 100px;
    margin-top: 50px;
    height: 50px;
    width: 50px;
    color: #fff;
    
  }
  .b5 h1{
    font-size: 28px;
    color: #fff;
    font-style: italic;
  }
  .b5 p{
    color: #fff;
    font-size: 18px;
  }
  .b6{
    height: 250px;
    width: 25%;
    background-color: rgb(18, 44, 22);
    border-radius: 10px 10px 10px 10px;
  }
  
  .b6 img{
    margin-left: 100px;
    margin-top: 50px;
    height: 50px;
    width: 50px;
    color: #fff;
    
  }
  .b6 h1{
    font-size: 28px;
    color: #fff;
    font-style: italic;
  }
  .b6 p{
    color: #fff;
    font-size: 18px;
  }
  .b7{
    height: 250px;
    width: 25%;
    background-color: rgb(18, 44, 22);
    border-radius: 10px 10px 10px 10px;
  }
  .b7 img{
    margin-left: 100px;
    margin-top: 50px;
    height: 50px;
    width: 50px;
    color: #fff;
    
  }
  .b7 h1{
    font-size: 28px;
    color: #fff;
    font-style: italic;
  }
  .b7 p{
    color: #fff;
    font-size: 18px;
  }
  .b8{
    height: 250px;
    width: 25%;
    background-color: rgb(32, 86, 40);
    border-radius: 10px 10px 10px 10px;
  }
  .b8 img{
    margin-left: 100px;
    margin-top: 50px;
    height: 50px;
    width: 50px;
    color: #fff;
    
  }
  .b8 h1{
    font-size: 28px;
    color: #fff;
    font-style: italic;
  }
  .b8 p{
    color: #fff;
    font-size: 18px;
  }
  
  .b9{
    height: 250px;
    width: 25%;
    background-color: rgb(30, 96, 60);
    border-radius: 10px 10px 10px 10px;
  }
  .b9 img{
    margin-left: 100px;
    margin-top: 50px;
    height: 50px;
    width: 50px;
    color: #fff;
    
  }
  .b9 h1{
    font-size: 28px;
    color: #fff;
    font-style: italic;
  }
  .b9 p{
    color: #fff;
    font-size: 18px;
  }
  .b10{
    height: 250px;
    width: 39%;
    background-color:  rgb(30, 96, 60);
    border-radius: 10px 10px 10px 10px;
  }
  .b10 img{
    margin-left: 180px;
    margin-top: 50px;
    height: 50px;
    width: 50px;
    color: #fff;
    
  }
  .b10 h1{
    font-size: 28px;
    color: #fff;
    font-style: italic;
  }
  .b10 p{
    color: #fff;
    font-size: 18px;
  }
  .b11{
    height: 250px;
    width: 39%;
    background-color: rgb(18, 44, 22);
    border-radius: 10px 10px 10px 10px;
  }
  .b11 img{
    margin-left: 180px;
    margin-top: 50px;
    height: 50px;
    width: 50px;
    color: #fff;
    
  }
  .b11 h1{
    font-size: 28px;
    color: #fff;
    font-style: italic;
  }
  .b11 p{
    color: #fff;
    font-size: 18px;
  }
  .read{
    margin-top: 100px;
    margin-left: 5%;
    width: 90%;
    height: 500px;
    background-color: #cdae61;
  }
  .read1 h1{
    font-size: 50px;
    margin-left: 50px;
    padding-top: 30px;
  }
  .read1 p{
    margin-left: 50px;
    font-size: 22px;
  }
  .box2{
    display: flex;
    column-gap: 20px;
  }
   .b12{
    height: 250px;
    width: 25%;
    margin-left:120px;
    background-color: #cdae61;
   }
   .b12 p{
    font-size: 18px;
   }
   .box2 :hover{
    background-color: #639388;
   }
   .b13{
    height: 250px;
    width: 25%;
    background-color: #cdae61;
   }
   .b13 p{
    font-size: 18px;
   }
   .b14{
    height: 250px;
    width: 25%;
    background-color:#cdae61;
   }
   .b14 p{
    font-size: 18px;
   }
   .tab{
    margin-top: 50px;
     }
     .box3{
        display: flex;
        column-gap: 30px;
     }
     .b15{
        margin-left: 5%;
        height: 700px;
        width: 40%;
        background-color: aquamarine;
     }
     .b15 img{
        position: relative;
        width: 100%;
        height: 100%;
     }
     .b16{
        background-color: #b0a378;
        height: 300px;
        width: 50%;
        margin-top: 300px;
        border-radius: 10px 10px 10px 10px;
        box-shadow: 0 10px 2px 0;
     }
     .b16 h1{
       font-size: 50px;
       margin-left: 30px;
       font-weight: 700;
     }
     .b16 p{
        font-size: 20px;
        margin-left: 30px;
     }
     .btn{
        background-color: yellow;
        margin-left: 30px;
        color: black;
     }